<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .htmlTitle }}</title>
    <link rel="stylesheet" href="/static/beer.3.5.4min.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>

<header class="primary-container">
    <nav>
        <button class="circle transparent">
            <i>menu</i>
            <menu class="no-wrap">
                <a>Item</a>
                <a>Item</a>
                <a>Item</a>
            </menu>
        </button>
        <h5 class="max center-align">μCPingGraph</h5>
    </nav>
</header>

<div class="field label suffix border round">
    <select name="network" id="network">
        {{range .networks}}
        <option>{{.}}</option>
        {{end}}
    </select>
    <label>Network Name</label>
    <i>arrow_drop_down</i>
</div>

<div class="field label suffix border round">
    <select name="device" id="device">
        <option>First select network</option>
    </select>
    <label>Device Name</label>
    <i>arrow_drop_down</i>
</div>


<script type="module" src="/static/beer.min.js"></script>
<script type="module" src="/static/material-dynamic-colors.min.js"></script>
<script src="/static/jquery-3.7.1.min.js"></script>
<script src="/static/custom.js"></script>
</body>
</html>