<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .htmlTitle }}</title>
    <link rel="stylesheet" href="/static/beer.3.5.4min.css">
</head>
<body>

<header class="primary-container">
    <nav>
        <button class="circle transparent">
            <i>menu</i>
        </button>
        <h5 class="max center-align">μCPingGraph</h5>
    </nav>
</header>


<script type="module" src="/static/beer.min.js"></script>
<script type="module" src="/static/material-dynamic-colors.min.js"></script>
</body>
</html>